.banner{
    background-color: #fff;
    color: #333;
    padding: 15px;
}

.banner img{
    padding-left: 10px;
    height: 250px;
    display: block;
    margin: 0 auto;

}

.banner p{
    text-align: center;
    margin: 20px auto;
}